---
import WrapLink from '@components/link/WrapLink.astro';
import RamblingDate from '@components/rambling/RamblingDate.astro';
import Tag from '@components/rambling/Tag.astro';
import { body, heading, link } from '@lib/classes';
import { type CollectionEntry } from 'astro:content';

type Props = { rambling: CollectionEntry<'ramblings'> };
const { rambling } = Astro.props;
---

<li class="rounded-lg py-2">
	<div transition:name={rambling.id}>
		<div class="mb-2">
			<WrapLink href={`/ramblings/${rambling.id}/`}>
				<h2 class={`${heading} ${link}`}>
					{rambling.data.title}
				</h2>
			</WrapLink>
			<p class={body}>
				{rambling.data.description}
			</p>
		</div>
		<RamblingDate {...rambling} />
		{
			rambling.data.tags && (
				<div class="flex flex-row flex-wrap gap-2 mt-2">
					{rambling.data.tags.map(tag => (
						<Tag tag={tag} />
					))}
				</div>
			)
		}
	</div>
</li>
