---
import FormattedDate from '@components/rambling/FormattedDate.astro';
import { caption } from '@lib/classes';
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'ramblings'>;

const rambling = Astro.props;
---

<div class="flex flex-row max-lg:gap-1 lg:gap-4 items-center">
    <div class="flex flex-row gap-2 items-center">
        <Icon name="mdi:calendar-clock" size="16" class={caption} />
        <p class={caption}><FormattedDate date={rambling.data.pubDate} /></p>
    </div>
    {
        rambling.data.updatedDate && (
            <>
                <p class={caption}>|</p>
                <div class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:calendar-edit" class={caption} size="16" />
                    <p class={caption}>
                        <FormattedDate date={rambling.data.updatedDate} />
                    </p>
                </div>
            </>
        )
    }
</div>
