---
import BackLink from '@components/link/BackLink.astro';
import IconButton from '@components/link/IconButton.astro';
import Base from '@layouts/Base.astro';
import { body, heading, leadText, link, pageSubtitle, pageTitle, subHeading, text } from '@lib/classes';

const aboutTitle = 'about';
const aboutSub = 'huh';
---

<Base title={aboutTitle} description={aboutSub}>
    <BackLink />

    <div class="grid grid-cols-1 xl:grid-cols-5 gap-4">
        <div class="md:col-span-2 xl:col-span-3">
            <div class="mb-6">
                <h1 class={pageTitle}>{aboutTitle}</h1>
                <p class={pageSubtitle}>{aboutSub}</p>
            </div>
        </div>
        <div
            class="xl:col-span-2 bg-ctp-base p-2 pb-0 inset-shadow-sm inset-shadow-ctp-mantle w-full flex flex-col justify-center items-center"
        >
            <p class="text-ctp-pink font-medium text-sm">what i look like</p>
            <img src="/arlecchino.png" alt="meeeeee :3" class="min-w-xs max-w-sm" />
        </div>
    </div>
</Base>
