---
import BackLink from '@components/link/BackLink.astro';
import IconButton from '@components/link/IconButton.astro';
import Base from '@layouts/Base.astro';
import { body, heading, leadText, link, pageSubtitle, pageTitle, subHeading, text } from '@lib/classes';
import { homeLinks } from '@lib/data';

const contactTitle = 'contact';
const contactSub =
    'locations where the cryptid known as amelia has been found on the interwebs. reports say she was barking, or being barked at, idk';
---

<Base title={contactTitle} description={contactSub}>
    <BackLink />

    <div class="grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4">
        <div class="order-first md:order-last md:self-start md:mr-5 rounded-lg">
            <img
                src="/pfp.jpg"
                alt="amelia :3"
                width={200}
                height={200}
                class="border-2 border-dashed border-ctp-mauve"
                loading="eager"
            />
        </div>
        <div class="order-last md:order-first">
            <div class="mb-6">
                <h1 class={pageTitle}>{contactTitle}</h1>
                <p class={pageSubtitle}>{contactSub}</p>
            </div>

            <h2 class={heading}>message</h2>
            <p class={body}>you can message me through this site lmao. or rather bark at me</p>
            <div class="mt-2">
                <IconButton text="message" icon="message" url="/message" />
            </div>
        </div>
    </div>

    <div class="my-4">
        <h2 class={heading}>mail</h2>
        <p class={leadText}>
            that'd be {' '}<span class="bg-ctp-crust px-2 rounded-md text-ctp-pink"
                >nyameliaaaa (AT) proton (DOT) me</span
            >
        </p>
    </div>

    <div class="my-4">
        <h2 class={heading}>public keys</h2>
        <p class={leadText}>
            you can find my public keys <a href="/pubkeys.txt" class={link}>here</a>
        </p>
    </div>

    <div class="my-4">
        <div class="mb-3">
            <h2 class={heading}>contact</h2>
            <p class={leadText}>locations where the cryptid known as amelia has been found on the interwebs</p>
        </div>
        <div class:list={['grid grid-cols-1 max-lg:divide-y-2 divide-ctp-base gap-3', 'lg:grid-cols-2  lg:divide-x-2']}>
            {
                homeLinks.map(section => (
                    <div>
                        <h3 class={subHeading}>{section.name}</h3>
                        <div class="grid grid-cols-3 mt-2">
                            {section.links.map(linkItem => (
                                <>
                                    <p
                                        class={text({
                                            color: 'accent',
                                            font: 'sans',
                                            weight: 'medium',
                                            tracking: 'tight'
                                        })}
                                    >
                                        {linkItem.label}
                                    </p>
                                    {linkItem.url ? (
                                        <a href={linkItem.url} rel="me" class={`${body} ${link} col-span-2`}>
                                            {linkItem.handle}
                                        </a>
                                    ) : (
                                        <p class={`${body} col-span-2`}>{linkItem.handle}</p>
                                    )}
                                </>
                            ))}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Base>
