---
import Guestbook from '@client/guestbook/GuestbookView.vue';
import Recents from '@client/music/Recents.vue';
import IconLink from '@components/link/IconLink.astro';
import SignGuestbook from '@components/link/SignGuestbook.astro';
import Base from '@layouts/Base.astro';
import { body, heading, leadText, link, pageSubtitle, pageTitle, subHeading, text } from '@lib/classes';
import { HOME_LINKS } from '@lib/consts';
---

<Base
    title="hiiiiiiii ^^"
    description="hiiiiiiiiiiiiiiiiiii im amelia. i uhhhhh suck at writing actually pretend im good at this please /j. anyway im a trans girlie and uhm i like miku i guess uh ok woof"
>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4">
        <div class="order-first md:order-last md:self-start md:mr-5 rounded-md">
            <img
                src="/pfp.jpg"
                alt="amelia :3"
                width={200}
                height={200}
                class="border-2 border-dashed border-ctp-mauve"
                loading="eager"
            />
        </div>
        <div class="order-last md:order-first">
            <div class="mb-6">
                <h1 class={pageTitle}>hiiiiiiii ^^</h1>
                <p class={pageSubtitle}>
                    hiiiiiiiiiiiiiiiiiii im amelia. i uhhhhh suck at writing actually pretend im good at this please /j.
                    anyway im a trans girlie and uhm i like miku i guess uh ok woof
                </p>
            </div>

            <h2 class={heading}>pronouns</h2>
            <p class={body}>
                i use it/she/xe pronouns btw :3 theres more <a
                    class={text({ hover: 'accent', transition: true, customOutline: true })}
                    href="https://pronouns.cc/@nyamelia">here</a
                > :p
            </p>
        </div>
    </div>

    <div class="my-4">
        <div class="mb-3">
            <h2 class={heading}>contact i guess</h2>
            <p class={leadText}>locations where the cryptid known as amelia has been found on the interwebs</p>
        </div>
        <div class:list={['grid grid-cols-1 max-lg:divide-y-2 divide-ctp-base gap-3', 'lg:grid-cols-2  lg:divide-x-2']}>
            {
                HOME_LINKS.map(section => (
                    <div>
                        <h3 class={subHeading}>{section.name}</h3>
                        <div class="grid grid-cols-3 mt-2">
                            {section.links.map(linkItem => (
                                <>
                                    <p
                                        class={text({
                                            color: 'accent',
                                            font: 'sans',
                                            weight: 'medium',
                                            tracking: 'tight'
                                        })}
                                    >
                                        {linkItem.label}
                                    </p>
                                    {linkItem.url ? (
                                        <a href={linkItem.url} rel="me" class={`${body} ${link} col-span-2`}>
                                            {linkItem.handle}
                                        </a>
                                    ) : (
                                        <p class={`${body} col-span-2`}>{linkItem.handle}</p>
                                    )}
                                </>
                            ))}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>

    <div class="my-3">
        <div class="mb-4">
            <h2 class={heading}>recent songs</h2>
            <p class={leadText}>heres what ive been listening to lately :o</p>
        </div>

        <Recents client:load preview />

        <div class="mt-4">
            <IconLink text="see more music :p" url="/music" icon="chevron-right" />
        </div>
    </div>

    <div class="mb-2 grid grid-cols-1 lg:grid-cols-2 gap-2">
        <div>
            <h2 class={heading}>guestbook :3</h2>
            <p class={leadText}>u should put smth here once uve looked at everything ^w^</p>
            <div class="mt-3">
                <SignGuestbook />
            </div>
        </div>
        <div>
            <Guestbook client:load limitItems />
            <div class="mt-3 flex justify-center">
                <IconLink text="view all" icon="chevron-right" url="/guestbook" />
            </div>
        </div>
    </div>
</Base>
