---
import { HOME_LINKS } from '@/consts';
import pfp from '@assets/pfp.jpg';
import Guestbook from '@components/Guestbook.vue';
import Base from '@layouts/Base.astro';
import { Image } from 'astro:assets';

const h2 = 'text-ctp-pink font-bold text-2xl';
const sub = 'font-medium text-ctp-subtext1 mb-2';
---

<Base
    title="hiiiiiiii ^^"
    description="hiiiiiiiiiiiiiiiiiii im amelia. i uhhhhh suck at writing actually pretend im good at this please /j. anyway im a trans girlie and uhm i like miku i guess uh ok woof"
>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4">
        <div class="order-first md:order-last md:self-start md:mr-5 rounded-md">
            <Image
                src={pfp}
                alt="amelia :3"
                width={200}
                height={200}
                class="border-2 border-dashed border-ctp-mauve"
                loading="eager"
            />
        </div>
        <div class="order-last md:order-first">
            <div class="mb-6">
                <h1 class="text-ctp-pink font-extrabold text-3xl">hiiiiiiii ^^</h1>
                <p class="text-xl font-medium text-ctp-subtext1">
                    hiiiiiiiiiiiiiiiiiii im amelia. i uhhhhh suck at writing actually pretend im good at this please /j.
                    anyway im a trans girlie and uhm i like miku i guess uh ok woof
                </p>
            </div>

            <h2 class="text-ctp-pink font-bold text-2xl">pronouns</h2>
            <div class="flex flex-col gap-1 font-medium">
                <p>
                    i use it/she/xe pronouns btw :3 theres more <a
                        class="hover:underline hover:underline-offset-2"
                        href="https://pronouns.cc/@nyamelia">here</a
                    > :p
                </p>
            </div>
        </div>
    </div>

    <div class="my-4">
        <h2 class={h2}>contact i guess</h2>
        <p class={sub}>locations where the cryptid known as amelia has been found on the interwebs</p>
        <div class:list={['grid grid-cols-1 max-lg:divide-y-2 divide-ctp-base gap-3', 'lg:grid-cols-2  lg:divide-x-2']}>
            {
                HOME_LINKS.map(section => (
                    <div>
                        <h2 class="text-ctp-subtext0 font-semibold text-xl">{section.name}</h2>
                        <div class="grid grid-cols-3 mt-2">
                            {section.links.map(link => (
                                <>
                                    <p class="font-medium text-ctp-pink col-span-1">{link.label}</p>
                                    {link.url ? (
                                        <a
                                            href={link.url}
                                            rel="me"
                                            class="hover:underline underline-offset-2 col-span-2"
                                        >
                                            {link.handle}
                                        </a>
                                    ) : (
                                        <p class="col-span-2">{link.handle}</p>
                                    )}
                                </>
                            ))}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>

    <div class="mb-2">
        <h2 class={h2}>guestbook :3</h2>
        <p class={sub}>u should put smth here once uve looked at everything ^w^</p>

        <Guestbook client:load isHomepage={true} />
    </div>
</Base>
