---
import Albums from '@client/music/Albums.vue';
import Artists from '@client/music/Artists.vue';
import Playlists from '@client/music/Playlists.vue';
import Recents from '@client/music/Recents.vue';
import Page from '@layouts/Page.astro';
import { caption, heading, leadText, link } from '@lib/classes';
---

<Page title="music :P" description="please enjoy staring at my music taste">
    <p class={leadText}>
        check out my <a class={link} href="https://www.last.fm/user/nyamelia">last.fm profile</a> ^^
    </p>

    <section class="my-4">
        <h2 class={heading}>recent songs</h2>

        <Recents client:load />
    </section>

    <section class="my-4">
        <h2 class={heading}>top albums (30 days)</h2>

        <Albums client:load />
    </section>

    <section class="my-4">
        <h2 class={heading}>top artists (7 days)</h2>

        <Artists client:load />
    </section>

    <section class="mt-5 mb-3">
        <h2 class={heading}>playlists</h2>

        <Playlists client:load />
    </section>

    <p class={caption}>
        music cards from <a class={link} href="https://sapphic.moe">sapphic angels</a>
    </p>
</Page>
