---
import PixelieImg from '@components/link/PixelieImg.astro';
import MarkdownProse from '@components/formatting/MarkdownProse.astro';
import { body, heading, link, subHeading } from '@lib/classes';
import { codeToHtml } from 'shiki';
import Page from '../layouts/Page.astro';
import { pixelies } from '@lib/data';
import WrapLink from '@components/link/WrapLink.astro';

const html = await codeToHtml(
	[
		'<a href="https://nyamelia.is-immensely.gay/">',
		'   <!-- automatically handles reduced motion for you -->',
		'   <picture>',
		'       <source',
		'           srcset="https://nyamelia.is-immensely.gay/88x31/button.png"',
		'           media="(prefers-reduced-motion: reduce)"',
		'       />',
		'       <img',
		'           src="https://nyamelia.is-immensely.gay/88x31/button.gif"',
		'           width="88" height="31" alt="nyamelia" style="image-rendering: pixelated;"',
		'       />',
		'   </picture>',
		'</a>'
	].join('\n'),
	{
		lang: 'typescript',
		theme: 'catppuccin-macchiato'
	}
);
---

<Page title="the museum" description="a wall of 88x31's, obviously">
	<div class="flex flex-col divide-y-2 divide-ctp-base">
		{
			pixelies(Astro.generator).map(pixelie => (
				<section class="py-3">
					<h2 class={`${subHeading} mb-2`}>{pixelie.name}</h2>
					<ul class="flex flex-row gap-2 flex-wrap">
						{pixelie.pixelies.map(pixelie => (
							<PixelieImg pixelie={pixelie} />
						))}
					</ul>
				</section>
			))
		}
		<section class="py-3">
			<h2 class={`${heading} mb-2`}>88x31 button :3</h2>
			<p class={body}>i have one of my own too. here's how you add it lol</p>
			<MarkdownProse><div set:html={html} /></MarkdownProse>
			<ul class="flex flex-row gap-2">
				<img src="/88x31/button.png" width="88" height="31" alt="" style="image-rendering: pixelated;" />
				<img src="/88x31/button.gif" width="88" height="31" alt="" style="image-rendering: pixelated;" />
			</ul>
			<div class="mt-2">
				<p class={body}>
					if you add it, you can tell me <WrapLink href="/message" class={link}>here</WrapLink>! no garuantee ill add
					you back however :p
				</p>
			</div>
		</section>
	</div>
</Page>
