---
import { TOC_SIDEBAR_CLASSES } from '@/consts';
import MarkdownProse from '@components/markdown/MarkdownProse.astro';
import MarkdownTableOfContents from '@components/markdown/MarkdownTableOfContents.astro';
import RamblingDate from '@components/rambling/RamblingDate.astro';
import Page from '@layouts/Page.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const ramblings = await getCollection('ramblings');
    return ramblings.map(rambling => ({
        params: { slug: rambling.id },
        props: rambling
    }));
}

type Props = CollectionEntry<'ramblings'>;

const rambling = Astro.props;
const { Content, headings } = await render(rambling);
---

<Page title={rambling.data.title} description={rambling.data.description}>
    <section>
        <div class="mb-5">
            <RamblingDate {...rambling} />
            <div class="mt-3 flex flex-row gap-2">
                {
                    rambling.data.tags?.map(tag => (
                        <a
                            href={`/ramblings/tags/${tag}`}
                            class="border border-ctp-subtext0 px-1 border-dashed rounded-sm hover:bg-ctp-surface0 transition-colors duration-500"
                        >
                            #{tag}
                        </a>
                    ))
                }
            </div>
        </div>
        <div class:list={TOC_SIDEBAR_CLASSES}>
            <MarkdownTableOfContents headings={headings} />
            <MarkdownProse><Content /></MarkdownProse>
        </div>
    </section>
</Page>
