---
import { AUTO_MARGIN, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";

import TransFlag from "../components/TransFlag.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import IconLink from "../components/IconLink.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

function getBackPath() {
	const pathname = Astro.url.pathname;
	if (pathname.startsWith("/ramblings/tags/")) return "/ramblings";

	const parts = pathname.split("/").filter(Boolean);
	parts.pop();
	return "/" + parts.join("/") || "/";
}

const hasNavigated = Astro.url.pathname !== "/";
const hasInfo = title ?? description;
---

<!doctype html>
<html lang="en" class="macchiato">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" href="/favicon.png" />

		<link
			rel="alternate"
			type="application/rss+xml"
			title={SITE_TITLE}
			href={new URL("rss.xml", Astro.site)}
		/>
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{`${SITE_TITLE} - ${title ?? "a page"}`}</title>
		<meta name="title" content={`${SITE_TITLE} - ${title ?? "a page"}`} />
		<meta name="description" content={description} />

		<!-- <!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<!-- <meta property="og:image" content={new URL(image.src, Astro.url)} /> -->

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<!-- <meta property="twitter:image" content={new URL(image.src, Astro.url)} /> -->

		<slot name="head" />
	</head>
	<body
		class="h-screen w-screen overflow-hidden bg-linear-to-br from-ctp-mantle via-ctp-crust to-ctp-mantle text-ctp-text text-lg font-display"
	>
		<div class="h-full overflow-y-scroll">
			<TransFlag />

			<Header />

			<main class:list={[AUTO_MARGIN, "my-4"]}>
				<div
					class="bg-ctp-base p-3 rounded-lg border-2 border-dashed border-ctp-pink"
				>
					{
						hasNavigated && (
							<div class="mb-2">
								<IconLink
									icon="arrow-left-thin"
									url={getBackPath()}
									text="go back"
								/>
							</div>
						)
					}
					{
						hasInfo && (
							<div class="mb-2">
								<h1 class="font-bold text-2xl text-ctp-pink">
									{title}
								</h1>
								<p class="font-semibold text-xl text-ctp-subtext1">
									{description}
								</p>
							</div>
						)
					}
					<slot />
				</div>
			</main>

			<Footer />
		</div>
	</body>
</html>
