---
import { iconButton, outline } from '@lib/classes';
import { Icon } from 'astro-icon/components';
import WrapLink from '@components/link/WrapLink.astro';

type Props = { url: string; icon: string; text: string };

const { icon, url, text } = Astro.props;
---

<WrapLink
    class:list={[
        'group flex flex-row gap-2 transition-all duration-300 items-center hover:text-ctp-pink',
        outline,
        'w-fit',
        { 'flex-row-reverse': icon === 'chevron-right' }
    ]}
    href={url}
>
    <Icon name={`mdi:${icon}`} class={iconButton} size="24" />
    <p class={iconButton}>
        {text}
    </p>
</WrapLink>
